@media (max-width: 890px){
    
    .search-div{
        height: 15%;
        width: 100%;
        display: flex;    
        justify-content: center;
    }
    .search-div input{
        padding: 20px;
        background: whitesmoke;
        outline: none;
        border: none;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
    }
    .search-category{
        height: 100%;
        width: 30%;
        background-color: rgb(215, 210, 210);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .search-category select{
        background-color: inherit;
        border: none;
        background-color: rgb(215, 210, 210);
        width: 50%;
        outline: none;
    }
    .search-div span{
        height: 70px;
        width: 14%;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
    }
    .search-div span:hover{
        /* color: orangered; */
        cursor: pointer;
    }

    .search-div input{
        width: 70%;
    }
    
    .search-div input:focus ~ span{
        background-color: orangered;
        color: #fff;

    }
}



@media (min-width: 890px){
    .search-div{
        height: 15%;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
        display: flex;
    }
    .search-div input{
        width: 70%;
        padding: 20px;
        background: whitesmoke;
        outline: none;
        border: none;
        
    }
    .search-category{
        height: 100%;
        width: 30%;
        background-color: rgb(215, 210, 210);
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .search-category select{
        background-color: inherit;
        border: none;
        background-color: rgb(215, 210, 210);
        width: 50%;
        outline: none;
    
    }
    .search-div span{
        height: 100%;
        width: 9%;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
    }
    .search-div span:hover{
        /* color: orangered; */
        cursor: pointer;
    }
    
    .search-div input:focus ~ span{
        background-color: orangered;
        color: #fff;
    }
}